*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    ---primary-color: #f4f1ea;
    ---secondary-color:#b83434;
}
.color{
    color: var(---secondary-color);
}
html{
    font-family: Roboto, sans-serif;
}
.header{
    background-color: var(---primary-color);
    min-height: 90vh;
}
.nav{
    background-color: white;
    padding: 10px 50px;
}
.nav::after{
    content: "";
    clear: both;
    display: table;
}
.nav-logo{
    float: left;
}
.fa-solid{
    color: #f79753;
}
.logo-name{
    color: black;
}
.nav-logo a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.nav-menu{
    float: right;
}
.nav-list{
    float: left;
    list-style: none;
    margin: 0 10px;
}
.btn{
    color: white;
    background-color: #172554;
    padding: 15px 10px;
    border-radius: 7px;
    text-decoration: none;
    margin-left: 100px;
}
.btn-green{
    color: white;
    background-color: #31c768;
    padding: 15px 10px;
    border-radius: 7px;
    text-decoration: none; 
}

.shopping-icon{
}
.bike{
    color: white;
    margin-right: 5px;
}
.shopping-bag{
    background-color: #e75002;
    color: white;
    padding: 15px;
    border-radius: 7px;
    margin: 0 10px;
}

.nav-menu .nav-item .nav-list a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}
.hero{
    background-color: #172554;
    padding: 40px 0;
}
.hero-image-container{
}
.hero-image-container img{
    width: 80%;
}
.hero-first-heading{
    color: #f3cd26;
}
.hero-second-heading{
    color: white;
    font-size: 50px;
}
.hero-para{
    color: white;
    margin: 10px 0 30px 0;
    font-size: 15px;
    font-style: oblique;
}

.row{
    max-width: 1000px;
    margin: 0 auto;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.row [class^=col-]{
    float: left;
}

.row [class^=col-]:not(:last-child){
    margin-right: 20px;
}

.col-1-of-2{
    width: calc((100% - 20px) / 2);
}

.product-section{
    background-color: var(---primary-color);
}
.product-heading{
    text-align: center;
}